{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div style="max-width: 400px; margin: auto; padding: 20px; border: 1px solid #007BFF; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <h2 style="text-align: center; color: #007BFF;">Change Password</h2>
        
        <form method="POST">
            {% csrf_token %}
            <div style="margin-bottom: 20px;">
                {{ form.as_p }}
            </div>
            <button type="submit" style="width: 100%; padding: 10px; font-size: 1.2em; background-color: #007BFF; color: white; border: none; border-radius: 5px; cursor: pointer; transition: background-color 0.3s;">
                Update Password
            </button>
        </form>
    </div>

    <style>
        button {
            border: none;
        }

        button:hover {
            background-color: #0056b3;
        }

        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 5px 0 20px;
            border: 1px solid #ced4da;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        input[type="password"]:focus {
            border-color: #007BFF;
            outline: none;
        }
    </style>
{% endblock %}