<div style="text-align: center; margin: 50px;">
    <h1 style="color: #28a745;">Payment Successful</h1>
    <p style="font-size: 1.2em; color: #555;">Thank you for your purchase!</p>
    
    <a href="{% url 'shop_url' %}" style="text-decoration: none; background-color: #007BFF; color: white; padding: 10px 20px; border-radius: 5px; font-size: 1.2em; transition: background-color 0.3s;">
        Go back to shopping
    </a>
</div>

<style>
    a:hover {
        background-color: #0056b3; /* Darker blue on hover */
    }
</style>